<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Amy Dalziel</title>
    <link rel = "stylesheet" href = "stylesheet.css" />
    <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
  
  </head>

  <body>

<header>

  <div class="header-box">
    <a href="home">
    <img src="../images/PianoSeedsLogoOct2023.jpg" alt="Logo" width="60px">
  </a>
    <h1>Piano Seeds</h1>
    <p id="sloganText">Plant a seed. Watch the growth.</p>
  </div>

</header>

    <div class = "mainbox">


        <nav id ="navbox">
            <div><a href="home" class="left">Home</a></div>
            <div><a href="about" class="left">About</a></div>
            <div><a href="curricula" class="left">Curricula</a></div>
            <div><a href="musictheoryinsideout" class="left">Music Theory </a></div>
            <div><a href="contact" class="left">Contact</a></div>
      </nav>

  <main>

    <h1>Under Construction: </h1>
    <h2>Info about getting in contact</h2>

  </main>



</div>

<footer>
<div id="footer-box">

<div class="footer-info" id="footer-links">
<ul>
    <li><a href="home">Home</a></li>
    <li><a href="about">About</a></li>
    <li><a href="curricula">Curricula</a></li>
    <li><a href="musictheoryinsideout">Music Theory</a></li>
    <li><a href="contact">Contact</a></li>
<li><span>&copy;</span> 2023 All Rights Reserved</li>
</ul>
</div>

<div class="footer-info">
<table>
<tr>
<td>Questions? Comments? </td>
</tr>
<tr>
<td>pianoseeds@gmail.com</td>
</tr>
<tr>
<td>Follow Us:</td>
</tr>
<tr>
<td>Social Media Icons</td>
</tr>
</table>
</div>


</div>




  </footer>
</div>

</body>
</html>