<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>Amy Dalziel</title>
    <link rel = "stylesheet" href = "stylesheet.css" />
    <link rel="stylesheet" href=
"https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Happy+Monkey&family=Orbitron:wght@700&display=swap" rel="stylesheet">
  
  </head>

  <body>

<header>

  <div class="header-box">
    <a href="home">
    <img src="images/PianoSeedsLogoOct2023.jpg" alt="Logo" width="60px">
  </a>
 
    <h1>Piano Seeds</h1>
    <p id="sloganText">Plant a seed. Watch the growth.</p>

  </div>

</header>

    <div class = "mainbox">


    <nav id ="navbox">
        <div><a href="home" class="left">Home</a></div>
        <div><a href="about" class="left">About</a></div>
        <div><a href="curricula" class="left">Curricula</a></div>
        <div><a href="musictheoryinsideout" class="left">Music Theory </a></div>
        <div><a href="contact" class="left">Contact</a></div>
  </nav>


  <main>

    <div id="headline">

      <div class="theory-image">
        <img src = "" id= "rotating-pages" alt="Theory Book Cover" width="550">
      </div>

      <div class="theory-info">
        <h2>Music Theory Inside Out</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo reiciendis maiores molestias deserunt officia, quod sunt culpa omnis similique sit? Enim omnis exercitationem perspiciatis neque? Placeat dolore facere fugiat suscipit?
        </p>
        <br/> 
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quo reiciendis maiores molestias deserunt officia, quod sunt culpa omnis similique sit? Enim omnis exercitationem perspiciatis neque? Placeat dolore facere fugiat suscipit?
        </p>
        <button>Learn More</button>
      </div>

    </div>
  
    <h2>Plant a Seed. Watch the growth.</h2>

    <div id="principle-box">

    <div class="principle">
      <span class="material-symbols-outlined" style="font-size: 60px; font-weight: lighter">
        piano
        </span>
      <h3>Fun.</h3>
      <p>Music - and learning - should be a fun and joyful activity. Our game-based curricula keep students engaged in the moment and teachers focused on learning objectives. </p>
    </div>
    <div class="principle">
      <span class="material-symbols-outlined" style="font-size: 60px; font-weight: lighter">
        music_note
        </span>
      <h3>Creative.</h3>
      <p>What do bar lines and green lights have in common? 
        How can a black ant transform into a quarter note? 
        Relatable and creative lesson plans help students become interested in mastering a new skill or understanding a new concept from the very beginning. </p>
    </div>
    <div class="principle">
      <span class="material-symbols-outlined" style="font-size: 60px; font-weight: lighter">
        emoji_objects
        </span>
      <h3>"Aha"!</h3>
      <p>Discovery and exploration are at the heart of memorable learning experiences. 
        Each curriculum has a step-by-step series of activities and games to guide students to their “aha” moment. </p>
    </div>
    <div class="principle">
      <span class="material-symbols-outlined" style="font-size: 60px; font-weight: lighter">
        headphones
        </span>
      <h3>Concept-Driven.</h3>
      <p>Our “How to Introduce” Series compliments any beginning piano method. 
        Ensure lessons stay focused and cohesive during this critical stage in students' musical development. </p>
    </div>

  </div>

     

        </main>



    </div>

<footer>
  <div id="footer-box">

<div class="footer-info" id="footer-links">
<ul>
  <li><a href="home">Home</a></li>
  <li><a href="about">About</a></li>
  <li><a href="curricula">Curricula</a></li>
  <li><a href="musictheoryinsideout">Music Theory</a></li>
  <li><a href="contact">Contact</a></li>
  <li><span>&copy;</span> 2023 All Rights Reserved</li>
</ul>
</div>

<div class="footer-info">
 <table>
<tr>
  <td>Questions? Comments? </td>
</tr>
<tr>
  <td>pianoseeds@gmail.com</td>
</tr>
<tr>
  <td>Follow Us:</td>
</tr>
<tr>
  <td>
    <i class="fa-brands fa-facebook"></i>
  </td>
</tr>
 </table>
</div>


  </div>
  



        </footer>
      </div>

      <script src="banner.js"></script>
 
  </body>
</html>
